.x-table__container {

}
.x-table {
    width: 100%;
    background-color: white;
}
.x-table__htext {
    font-family: var(--font-big);
    text-align: center;

}
.x-table__content {
    font-family: var(--font-main);
    text-align: center;

}
.x-table__header{
    height: 2.5rem;
}
.x-table__item {
    background-color: var(--col-arena-back);
    height: 3rem;
    border-style: solid hidden;
    border-color: #fff;
    border-width: .5rem;
}

.x-table__body {
    overflow: scroll;
    height: 50vh;
}
