.x-table__container {

    overflow:auto;
    position:relative;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.x-table__container::-webkit-scrollbar{
    display: none;
}
.x-table {
    width: 100%;
    background-color: white;
}
.x-table__htext {
    font-family: var(--font-big);
    font-weight: 100;
    font-size: .9rem;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: white;
    height: 2.5rem;
}
.x-table__content {
    font-family: var(--font-main);
    text-align: center;
    font-size: .9rem;
    font-weight: 400;
}
.x-table__head{

}
.x-table__header{
    height: 2.5rem;
}
.x-table__item {
    background-color: var(--col-arena-back);
    height: 2.5rem;

    border-style: solid hidden;
    border-color: #fff;
    border-width: .5rem;
}
.x-table__item:hover {
    background-color: var(--col-arena-light);
    color: white;
    cursor: pointer;
}
.x-table__item:active{
    background-color: var(--col-arena-heavy);
}
/* .x-table__content:hover {
    background-color: var(--col-arena-heavy);
} */
.x-table__item-selected {
    background-color: var(--col-arena-heavy);
    color: #fff;
}